html, body {
  height:auto;
  padding-bottom: 10px;
  width:100%;
  font-size:100%;
  overflow-x:hidden;
}

/*Menubar*/

#logo {
  float:left;
  top:50px;
  left:50px;
  margin-right:auto;
  position:fixed;
  z-index: 2;
}

#cc {
  float:left;
  bottom:10px;
  left:50px;
  margin-right:auto;
  position:fixed;
  z-index: 2;
}

#menu {
    font-family:Helvetica, Arial, sans-serif;
    font-size:14px;
    top:65px;
    position:absolute;
    width:auto;
    margin-left: 275px;
    margin-right: 5%;
    color: #fff;
    z-index:2;
}

#menu ul {
    list-style-type:none;
    list-style-image:none;
    margin:0px;
    padding:0px;
    color: #fff;
}

#menu li .topmenu {
  float:left;
  color: #fff;
}
.topmenu {
    margin-left: auto;
    margin-right: auto;
    font-weight:bold;
    width:150px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
  }

.topmenu a {
  text-align:center;
}

.topmenu ul{
  display:none;
}

.topmenu a, .submenu a{
  padding:1px 5px;
  color: #fff;
  border-collapse:collapse;
  font-weight:bold;
  text-decoration:none;
  margin:0;  
}

.submenu {
  text-align: left;
  width:150px;
}

.submenu a {
  font-weight:400;
  line-height:1.6em;
  font-size:12px;
  clear:both; /* special IE6 */
  text-align:left;
  color: #fff;
}

#menu a:hover, .topmenu.on a {
  text-decoration: underline;
  color: #fff;
}

.topmenu:hover ul {
  display:block;  
  z-index:500;
}

/*Content*/

#wrap {
  top: 0px;
  left: 0px;
  right: 0px;
  padding-top: 80px;
  width: auto;
  height: auto;
  position: absolute;
  background: url(/images/transparent_black.png) top left repeat;
}

#teaser {
  margin-top: 100px;
  margin-left: 25%;
  margin-right: 5%;
  max-width: 50%;
  height: auto;
  position: relative;
}

/*Home*/

.home {
  margin-top: 100px;
  width: 50%;
  height: auto;
  margin-left: 275px;
  margin-right: auto;
}

.home img {
  padding:10px 10px 5px 10px;
}

.home a {
  padding-left:10px;
  font-family:Helvetica, Arial, sans-serif;
  font-size:16px;
  text-align: center;
  line-height: 2em;
  color: #edfecb;
  text-decoration: none;
}

.home p {
  padding-left:10px;
  font-family:Helvetica, Arial, sans-serif;
  font-size:14px;
  line-height: 1.6em;
  color: #fff;
}

/*Texts*/

.text_teaser {
  width: 275px;
  height:225px;
  float:left;
  display:inline-block;
  padding-left:10px;
  padding-right:10px;
  padding-bottom:10px;
  font-family:Helvetica, Arial, sans-serif;
  font-size:12px;
  line-height: 1.2em;
  color: #fff;
}

.text_teaser a {
  font-family: Helvetica, Arial, sans-serif;
  text-indent: 3em;
  font-size:14px;
  color: #edfecb;
  text-decoration: none;
}

.text {
  width:33%;
  float:right;
  margin-top: 100px;
  margin-left: 25%;
  margin-right: auto;
  font-family:Helvetica, Arial, sans-serif;
  text-indent: 1em;
  font-size:12px;
  line-height: 1.2em;
  color: #fff;
  position: absolute;
}

.text a {
  text-decoration: none;
  color: #edfecb;
}

.text h4 {
  text-decoration: none;
}

/*Exhibition - Installation/Shows*/

.gallery_teaser {
  width: 300px;
  height:300px;
  float:left;
  display:inline-block;
  margin-left:auto;
  padding-left:10px;
  padding-right:10px;
  margin-bottom:10px;
  font-family:Helvetica, Arial, sans-serif;
  font-size:12px;
  line-height: 1.2em;
  color: #fff;
}

.gallery_teaser a {
  font-family:Helvetica, Arial, sans-serif;
  text-indent: 3em;
  font-size:14px;
  color: #edfecb;
  text-decoration: none;
}

.gallery_teaser img {
  padding:0px 10px 20px 10px;
  display:block;
}

#gallery {
  max-width:50%;
  margin-top: 100px;
  margin-left: 25%;
  margin-right: auto;
}

#gallery img {
  padding:10px;
  width:100%;
  height:auto;
}

#gallery .text {
  width: 190px;
  padding-left:20px;
  float:right;
  margin-top: 100px;
  margin-left: 400px;
  margin-right: auto;
  font-family:Helvetica, Arial, sans-serif;
  text-indent: 1em;
  font-size:12px;
  line-height: 1.2em;
  color: #fff;
}

#gallery .text a {
  font-family:Helvetica, Arial, sans-serif;
  text-indent: 3em;
  font-size:12px;
  color: #edfecb;
  text-decoration: none;
}

#gallery .images {
  width: 400px;
  margin-right: auto;
}

#gallery .images img {
  padding: 10px 5px 10px 5px;
}

#gallery .images iframe {
  padding: 10px 5px 10px 5px;
}

/*Videos*/

#video_teaser {
  margin-top: 100px;
}

#video_teaser iframe {
  padding-bottom:50px;
}


.object_teaser {
  width: 350px;
  height:100px;
  float:left;
  display:inline-block;
  margin-left:auto;
  padding-left:10px;
  padding-right:10px;
  padding-bottom:10px;
  font-family:Helvetica, Arial, sans-serif;
  font-size:12px;
  line-height: 1.2em;
  color: #fff;
}

.object_teaser a {
  font-family:Helvetica, Arial, sans-serif;
  text-indent: 3em;
  font-size:14px;
  color: #edfecb;
  text-decoration: none;
}

.part_teaser {
  width: 350px;
  height:auto;
  margin-left:auto;
  margin-right:auto;
  padding-left:10px;
  padding-right:10px;
  padding-top:20px;
  padding-bottom:20px;
  font-family:Helvetica, Arial, sans-serif;
  font-size:12px;
  line-height: 1.2em;
  color: #fff;
}

.part_teaser a {
  font-family:Helvetica, Arial, sans-serif;
  text-indent: 3em;
  font-size:14px;
  color: #edfecb;
  text-decoration: none;
}

/*Websites*/

.websites {
  width:auto;
  margin-left: 25%;
  margin-right: auto;
  margin-top: 100px;
}

.websites a {
  padding-left:10px;
  font-family:Helvetica, Arial, sans-serif;
  font-size:16px;
  text-align: center;
  line-height: 2em;
  color: #edfecb;
  text-decoration: none;
}

/*Contact*/

#contact {
  padding-top: 20%;
  font-family:Helvetica, Arial, sans-serif;
  text-indent: 3em;
  font-size:16px;
  color:#fff;
}

#contact a {
  text-decoration: none;
  color: #edfecb;
}

/*Formatting*/

h4 {
  font-family:Helvetica, Arial, sans-serif;
  font-size:14px;
  line-height: 1.6em;
  color: #fff;
  text-decoration: none;
  display: block;
}

h4 a {
  font-family:Helvetica, Arial, sans-serif;
  font-size:14px;
  color: #edfecb;
  text-decoration: none;
}

h5 {
  font-family:Helvetica, Arial, sans-serif;
  font-size:12px;
  line-height: 1.6em;
  color: #fff;
  text-decoration: none;
}

a h5 {
  text-decoration: none;
}